.index-container{
	box-sizing: border-box;
	padding: 10px 20px;
	min-height: calc(100vh - 120px);
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4,25%);
	grid-template-rows: repeat(2,50%);
	&>div{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&>img{
			width: 80%;
			object-fit: cover;
		}
	}
}